<header class="bg-primary">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarNavAltMarkup">
        <div class="navbar-nav text-center">
          <a class="nav-item nav-link" routerLink="/usuarios-seguidores" routerLinkActive="active"><span class="px-3 font-weight-bold">Usuários com maior número de seguidores</span></a>
          <a class="nav-item nav-link" routerLink="/postagem-hora" routerLinkActive="active"><span class="px-3 font-weight-bold">Total de postagem por hora</span></a>
          <a class="nav-item nav-link" routerLink="/postagem-idioma" routerLinkActive="active"><span class="px-3 font-weight-bold">Total de postagam de #Tag por idioma/país</span></a>
        </div>
      </div>
    </nav>
  </div>
</header>
